# Ignorar configuraciones y entornos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
env/
venv/
ENV/

# Ignorar archivos de configuración y entorno
*.env
*.DS_Store

# Ignorar configuraciones de IDEs y editores de texto
.vscode/
.idea/
*.sublime-workspace

# Ignorar archivos y carpetas de Docker y despliegue que no son necesarios
docker-compose.override.yml
*.log

# Ignorar resultados de pruebas y cobertura
coverage/
.tox/
.nox/
.pytest_cache/
*.cover
.hypothesis/
htmlcov/
test-results/

# Ignorar archivos de configuración de CI/CD, si son específicos y no necesarios para todos los usuarios
.github/
.gitlab-ci.yml

# Ignorar archivos de compilación
build/
dist/
*.egg-info/
.eggs/

# Ignorar archivos de caché de pip y wheel
*.whl
*.egg
pip-wheel-metadata/
__pycache__/

# Ignorar archivos de configuración específicos del sistema operativo
Thumbs.db
.DS_Store
desktop.ini
$RECYCLE.BIN/
