# Entorno virtual
.venv/
*.egg-info/
__pycache__/
*.pyc
*.pyo

dist/
build/
*.egg
*.whl

.idea/
.vscode/

# Archivos temporales
*.tmp
*.log

# Archivos de configuración de Python
*.py[cod]
*.pdb

# Archivos de caché
.cache/
*.cover
nosetests.xml
coverage.xml

# Archivos de test
tests/.pytest_cache/

# Archivos macOS
.DS_Store/
